{% extends 'main/base.html' %}

{% block content %}
<br>
<h4>All entries:</h4>

<div class="card card-body">
    <div class="row" style="padding-left: 20px;">
        <div id="main-button" class="btn button" data-model="notices" onclick="showTable('notices')">Notices and Updates</div>
        <div id="main-button" class="btn button" data-model="competitions" onclick="showTable('competitions')">Events and Competitions</div>
        <div id="main-button" class="btn button" data-model="seminars" onclick="showTable('seminars')">Seminars</div>
        <div id="main-button" class="btn button" data-model="fests" onclick="showTable('fests')">Fests</div>
        <div id="main-button" class="btn button" data-model="surveys" onclick="showTable('surveys')">Surveys</div>
        <div id="main-button" class="btn button" data-model="student_initiatives" onclick="showTable('student_initiatives')">Student Initiatives</div>
        <div id="main-button" class="btn button" data-model="alumni" onclick="showTable('alumni')">Alumnae</div>
    </div>
</div>

<div id="table-notices" class="table-container">
    <div class="card card-body">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Update</th>
                <th>Remove</th>
            </tr>
            {% for notice in notices %}
            <tr>
                <td>{{ notice.heading }}</td> 
                <td><a class="btn btn-info" href="{% url 'update-notice' notice.id %}">Update</a></td>
                <td><a class="btn btn-danger" href="{% url 'delete-notice' notice.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div id="table-competitions" class="table-container">
    <div class="card card-body">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Uploaded on</th>
                <th>Update</th>
                <th>Remove</th>
            </tr>
            {% for competition in competitions %}
            <tr>
                <td>{{ competition.name }}</td>
                <td>{{ competition.department }}</td> 
                <td>{{ competition.date_created|date:"d/m/Y" }} at {{ competition.date_created|time:"g:i a" }}</td>
                <td><a class="btn btn-info" href="{% url 'update-competition' competition.id %}">Update</a></td>
                <td><a class="btn btn-danger" href="{% url 'delete-competition' competition.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
   
<div id="table-seminars" class="table-container">
    <div class="card card-body">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Date</th>
                <th>Uploaded on</th>
                <th>Update</th>
                <th>Remove</th>
            </tr>
            {% for seminar in seminars %}
            <tr>
                <td>{{ seminar.name }}</td>
                <td>{{ seminar.department }}</td>
                <td>{{ seminar.date|date:"d/m/Y" }}</td>
                <td>{{ seminar.date_created|date:"d/m/Y" }} at {{ seminar.date_created|time:"g:i a" }}</td>
                <td><a class="btn btn-info" href="{% url 'update-seminar' seminar.id %}">Update</a></td>
                <td><a class="btn btn-danger" href="{% url 'delete-seminar' seminar.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div id="table-fests" class="table-container">
    <div class="card card-body">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Date</th>
                <th>Uploaded on</th>
                <th>Update</th>
                <th>Remove</th>
            </tr>
            {% for fest in fests %}
            <tr>
                <td>{{ fest.name }}</td>
                <td>{{ fest.department }}</td>
                <td>{{ fest.date|date:"d/m/Y" }}</td> 
                <td>{{ fest.date_created|date:"d/m/Y" }} at {{ fest.date_created|time:"g:i a" }}</td>
                <td><a class="btn btn-info" href="{% url 'update-fest' fest.id %}">Update</a></td>
                <td><a class="btn btn-danger" href="{% url 'delete-fest' fest.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div id="table-surveys" class="table-container">
    <div class="card card-body">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Uploaded on</th>
                <th>Update</th>
                <th>Remove</th>
            </tr>
            {% for survey in surveys %}
            <tr>
                <td>{{ survey.name }}</td>
                <td>{{ survey.department }}</td>
                <td>{{ survey.date_created|date:"d/m/Y" }} at {{ survey.date_created|time:"g:i a" }}</td>
                <td><a class="btn btn-info" href="{% url 'update-survey' survey.id %}">Update</a></td>
                <td><a class="btn btn-danger" href="{% url 'delete-survey' survey.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div id="table-student_initiatives" class="table-container">
    <div class="card card-body">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Student name</th>
                <th>Department</th>
                <th>Uploaded by</th>
                <th>Uploaded on</th>
                <th>Update</th>
                <th>Remove</th>
            </tr>
            {% for student_initiative in student_initiatives %}
            <tr>
                <td>{{ student_initiative.name }}</td>
                <td>{{ student_initiative.student_name }}</td>
                <td>{{ student_initiative.department }}</td>
                <td>{{ student_initiative.created_by }}</td>
                <td>{{ student_initiative.date_created|date:"d/m/Y" }} at {{student_initiative.date_created|time:"g:i a" }}</td>
                <td><a class="btn btn-info" href="{% url 'update-student-initiative' student_initiative.id %}">Update</a></td>
                <td><a class="btn btn-danger" href="{% url 'delete-student-initiative' student_initiative.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div id="table-alumni" class="table-container">
    <div class="card card-body">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Department</th>
                <th>Batch</th>
                <th>Uploaded by</th>
                <th>Uploaded on</th>
                <th>Update</th>
                <th>Remove</th>
            </tr>
            {% for alum in alumnae %}
            <tr>
                <td>{{ alum.name }}</td>
                <td>{{ alum.department }}</td>
                <td>{{ alum.batch }}</td>
                <td>{{ alum.created_by }}</td>
                <td>{{ alum.date_created|date:"d/m/Y" }} at {{ alum.date_created|time:"g:i a" }}</td>
                <td><a class="btn btn-info" href="{% url 'update-alumni' alum.id %}">Update</a></td>
                <td><a class="btn btn-danger" href="{% url 'delete-alumni' alum.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
<br><hr>
<h4>Logs:</h4>
<table>
    {% for entry in log_entries %}
    <tr style="border: 1px solid black;">
      <td style="padding: 10px;">{{ entry }}</td>
    </tr>
    {% endfor %}
</table>
<br><a style="margin-right: 50px;" class="btn btn-info" href="{% url 'all-logs' %}">View all logs</a>
<br><br>
{% endblock %}