<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
</head>
<body>
    <h1>Welcome to Uniway!</h1>
    <h3>We are thrilled to have you join our community of students, alumni, and educators. We are designed to foster a positive and supportive environment for all users. To ensure a safe and enriching experience for everyone, we have established the following community guidelines:</h3>
    <h3>1. Privacy and Confidentiality: Protect the privacy and confidentiality of yourself and others. Do not share sensitive personal information, contact details, or any data that could compromise the security of individuals.</h3>
    <h3>2. No Misuse of Information: Alumni details are provided to inculcate a learning environment through the use of resources available. Do not indulge in spam calls or messages to college alumni.</h3>
    <h3>3. Reporting and Moderation: If you come across any content or behavior that violates these guidelines, please report it to the app administrators. Our moderators will review reports and take appropriate action.</h3>
    <h3>4. Academic Integrity: Uphold academic integrity and honesty at all times. Do not engage in cheating, plagiarism, or academic misconduct.</h3>
    <h3>5. Event and Initiative Promotion: You are welcome to share details about upcoming college events and initiatives, but ensure the information is accurate and appropriate. Any commercial promotion, unrelated advertisements, or spam is strictly prohibited.</h3>
    <h3>6. Inclusive Community:Uniway values diversity and inclusivity. We do not tolerate discrimination based on race, ethnicity, gender, religion, sexual orientation, or any other personal characteristic.</h3>
    <h3>7. Positive Environment: Foster a positive and supportive environment for learning and growth. Encourage others, celebrate achievements, and offer help to those who need it.</h3>
    <h3>8. Abide by App Terms of Service: In addition to these guidelines, users are expected to adhere to the terms of service provided by the Uniway app.</h3>

    <h3>Failure to comply with these community guidelines may result in actions such as content removal, temporary or permanent account suspension, or other measures deemed appropriate by the Uniway team. <br>Uniway is a platform for learning, networking, and personal growth. You are requested to be respectful and responsible members of this community.</h3>
</body>
</html>